spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org.mongodb.driver: INFO

